/*
body{
    padding: 40px;
}
*/


#name{
    position: absolute;
    bottom: 20%;
}
#profession{
    position: absolute;
    bottom: 10%;
}

#visit{
    margin:0 auto;
}


.box{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.nav{
    justify-content: center;
}
.thecolor{
    background-color: black;
}
li i{
    color: white;
    cursor: pointer;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #responsive-titles {font-size:30px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #responsive-titles {font-size: 40px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #responsive-titles {font-size:40px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #responsive-titles {font-size:50px;}
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #description {font-size:15px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #description {font-size: 15px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #description {font-size:20px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #description {font-size:20px;}
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #title {font-size:15px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #title {font-size: 15px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #title {font-size:15px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #title {font-size:15px;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Name {font-size:22px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #Name {font-size: 20px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #Name {font-size:15px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #Name {font-size:17px;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #profession {font-size:20px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #profession {font-size: 20px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #profession {font-size:15px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #profession {font-size:17px;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #skills {font-size:17px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #skills {font-size: 15px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #skills {font-size:15px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #skills {font-size:20px;}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #skills-elements {font-size:17px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #skills-elements {font-size: 15px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #skills-elements {font-size:15px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #skills-elements {font-size:20px;}
}